entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-25_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true
integrations = ["python_log_in_with_replit:1.0.0", "python_database:1.0.0", "python_openai_ai_integrations:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Application"

[[workflows.workflow]]
name = "Run Application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "c"
mode = "parallel"
author = 51817703

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Project"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Application"

[[ports]]
localPort = 5000
externalPort = 80

[objectStorage]
defaultBucketID = "replit-objstore-6c8bd846-b7f5-4302-85af-e6ee773c5330"
